# Profile-specific serial ports.
TEST_SERIAL_PORT_HOST=socket://localhost

TEST_SERIAL_PORT_TX_ESP32S3=/dev/ttyUSB0
TEST_SERIAL_PORT_RX_ESP32S3=/dev/ttyUSB1
TEST_SERIAL_PORT_ESP32=/dev/ttyUSB0

# IR hardware pins used by hardware/tx_rx.
TEST_IR_TX_GPIO=4
TEST_IR_TX_INVERTED=0
TEST_IR_RX_GPIO=32
TEST_IR_RX_INVERTED=1

# Optional HTML report:
# PYTEST_ADDOPTS="--html=report.html --self-contained-html"
